body {
    margin: 0;
}

article p{
  color:#c93c3c;
}

.navigation-link {
  margin-left: 74%;
}

.nav-item {
    list-style: none;
    margin-right: 5px;;
}

.blogShort {
  width: 100%;
}

.blogShortContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
}

.blog-content {
  max-width: 800px;
    text-align: center;
    margin: 0 auto
}


.show-post {
    margin-right: 25px;
    float: right;
    width: fit-content;
}

.nav-link {
    list-style: none;
    margin-right: 27px;
    text-decoration: none;
    color: #ffffff;
}

.show-post a {
    color: white;
}