body {
  background-color: #f8f9fa;
}

.navigation-link {
  margin-left: 78%;
}

.blog-content {
    display: inline-flex;
    margin-right: 15px;
    width: 150px;
}

.individual-card {
  margin-left: 25px;
}

.main-container {
  width: 100%;
  display: flex;
}

.container1 {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.blog-content .btn {
    margin-right: 5px;;
}

.nav-item {
    list-style: none;
}

.nav-item a{
    list-style: none;
    margin-right: 27px;
}

.show-post {
    margin-right: 25px;
    float: right;
    width: fit-content;
}

.show-post a {
    color: white;
}